*.o
*.tar.gz
*/m4/
*~
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
dmenu-5.0/dmenu
dmenu-5.0/stest
dwm-6.2/dwm
install-sh
missing
st-0.8.4/st
